<div id="rounding-login">
		<div id="form_login">
			<h3>LOGIN</h3>
			<div id="form_id">
				<%= form_for(:session ) do |f| %>
					<div class="field">
						<%= f.text_field :nim, :placeholder => "masukkan NIM" %>
					</div>
					<div class="field">
						<%= f.password_field :password, :placeholder => "Password" %>
					</div>
					<div class="field">
						<%= f.submit "Login" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
