<footer>
		<div id="author">
				<p>APP-TA/PA &copy;2012 Sabril Corp.<br/>
					Institut Teknologi Telkom
				</p>
			<div id="logo_IT" class="round">
				<% logo = image_tag("itt.jpg", :alt => "It telkom", :width => "70px") %>
				<%= link_to logo, "http://www.ittelkom.ac.id/" %>
			</div>
		</div>
</footer>
